.container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    background-color: var(--bg-neutral);
    color: var(--text-neutral);
}

.header {
    position: relative;

    background-color: var(--bg-primary);
    color: var(--text-on-primary);

    .controls {
        display: flex;
        align-items: center;
    }

    .title {
        pointer-events: none;

        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        color: (--text-on-primary);
        font-weight: bold;
    }
}

.content {
    position: relative;
    flex-grow: 1;
}

.spacer {
    flex-grow: 1;
}
