:host {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;

    background-color: var(--bg-primary);
    color: var(--text-on-primary);

    .title {
        color: (--text-on-primary);
        font-weight: bold;
    }
}

.content {
    position: relative;
    flex-grow: 1;
}

.spacer {
    flex-grow: 1;
}
