<div class="container" [ngClass]="theme$ | async">
    <div class="header">
        <div class="controls">
            <button mat-icon-button routerLink="/">
                <mat-icon>home</mat-icon>
                <mat-divider [inset]="true" [vertical]="true"></mat-divider>
            </button>
            <div class="spacer"></div>
        </div>
        <div class="title">{{ title$ | async }}</div>
    </div>
    <mat-divider></mat-divider>
    <div class="content">
        <ng-content></ng-content>

        <div class="dev-commands" *ngIf="devMode">
            <button mat-icon-button (click)="next()">
                <mat-icon>redo</mat-icon>
            </button>
            <button mat-icon-button (click)="reset()">
                <mat-icon>replay</mat-icon>
            </button>
        </div>
    </div>
</div>
