@use "@angular/material" as mat;
@use "default-theme-colors.scss" as colors;

$theme: (
  primary-palette: mat.define-palette(colors.$primary),
  accent-palette: mat.define-palette(colors.$accent),
  warn-palette: mat.define-palette(colors.$warn),
  ok-palette: mat.define-palette(colors.$ok),
)
