@use '@angular/material' as mat;
@use 'world-themes-colors' as colors;

$world-1: (
    primary-palette: mat.define-palette(colors.$world-1),
    accent-palette: mat.define-palette(colors.$accent),
    warn-palette: mat.define-palette(colors.$warn),
    ok-palette: mat.define-palette(colors.$ok),
);

$world-2: (
    primary-palette: mat.define-palette(colors.$world-2),
    accent-palette: mat.define-palette(colors.$accent),
    warn-palette: mat.define-palette(colors.$warn),
    ok-palette: mat.define-palette(colors.$ok),
);

$world-3: (
    primary-palette: mat.define-palette(colors.$world-3),
    accent-palette: mat.define-palette(colors.$accent),
    warn-palette: mat.define-palette(colors.$warn),
    ok-palette: mat.define-palette(colors.$ok),
);

$world-4: (
    primary-palette: mat.define-palette(colors.$world-4),
    accent-palette: mat.define-palette(colors.$accent),
    warn-palette: mat.define-palette(colors.$warn),
    ok-palette: mat.define-palette(colors.$ok),
);

$world-5: (
    primary-palette: mat.define-palette(colors.$world-5),
    accent-palette: mat.define-palette(colors.$accent),
    warn-palette: mat.define-palette(colors.$warn),
    ok-palette: mat.define-palette(colors.$ok),
);

$world-6: (
    primary-palette: mat.define-palette(colors.$world-6),
    accent-palette: mat.define-palette(colors.$accent),
    warn-palette: mat.define-palette(colors.$warn),
    ok-palette: mat.define-palette(colors.$ok),
);

$world-7: (
    primary-palette: mat.define-palette(colors.$world-7),
    accent-palette: mat.define-palette(colors.$accent),
    warn-palette: mat.define-palette(colors.$warn),
    ok-palette: mat.define-palette(colors.$ok),
);

$world-8: (
    primary-palette: mat.define-palette(colors.$world-8),
    accent-palette: mat.define-palette(colors.$accent),
    warn-palette: mat.define-palette(colors.$warn),
    ok-palette: mat.define-palette(colors.$ok),
);

$world-9: (
    primary-palette: mat.define-palette(colors.$world-9),
    accent-palette: mat.define-palette(colors.$accent),
    warn-palette: mat.define-palette(colors.$warn),
    ok-palette: mat.define-palette(colors.$ok),
);

$world-10: (
    primary-palette: mat.define-palette(colors.$world-10),
    accent-palette: mat.define-palette(colors.$accent),
    warn-palette: mat.define-palette(colors.$warn),
    ok-palette: mat.define-palette(colors.$ok),
);

$world-11: (
    primary-palette: mat.define-palette(colors.$world-11),
    accent-palette: mat.define-palette(colors.$accent),
    warn-palette: mat.define-palette(colors.$warn),
    ok-palette: mat.define-palette(colors.$ok),
);

$world-12: (
    primary-palette: mat.define-palette(colors.$world-12),
    accent-palette: mat.define-palette(colors.$accent),
    warn-palette: mat.define-palette(colors.$warn),
    ok-palette: mat.define-palette(colors.$ok),
);

$world-13: (
    primary-palette: mat.define-palette(colors.$world-13),
    accent-palette: mat.define-palette(colors.$accent),
    warn-palette: mat.define-palette(colors.$warn),
    ok-palette: mat.define-palette(colors.$ok),
);

$world-14: (
    primary-palette: mat.define-palette(colors.$world-14),
    accent-palette: mat.define-palette(colors.$accent),
    warn-palette: mat.define-palette(colors.$warn),
    ok-palette: mat.define-palette(colors.$ok),
);

$world-15: (
    primary-palette: mat.define-palette(colors.$world-15),
    accent-palette: mat.define-palette(colors.$accent),
    warn-palette: mat.define-palette(colors.$warn),
    ok-palette: mat.define-palette(colors.$ok),
);

$world-16: (
    primary-palette: mat.define-palette(colors.$world-16),
    accent-palette: mat.define-palette(colors.$accent),
    warn-palette: mat.define-palette(colors.$warn),
    ok-palette: mat.define-palette(colors.$ok),
);

$world-17: (
    primary-palette: mat.define-palette(colors.$world-17),
    accent-palette: mat.define-palette(colors.$accent),
    warn-palette: mat.define-palette(colors.$warn),
    ok-palette: mat.define-palette(colors.$ok),
);

$world-18: (
    primary-palette: mat.define-palette(colors.$world-18),
    accent-palette: mat.define-palette(colors.$accent),
    warn-palette: mat.define-palette(colors.$warn),
    ok-palette: mat.define-palette(colors.$ok),
);

$world-19: (
    primary-palette: mat.define-palette(colors.$world-19),
    accent-palette: mat.define-palette(colors.$accent),
    warn-palette: mat.define-palette(colors.$warn),
    ok-palette: mat.define-palette(colors.$ok),
);
