@use "../../../styles/mixins/mixins";

:host {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;

  .top {
    display: flex;
    align-items: stretch;
    justify-content: center;

    padding: mixins.size(5);

    height: 66%;

    app-game-grid {
      flex-grow: 1;
    }
  }

  .separator {
    flex-grow: 1;
  }

  .bottom {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 33%;
  }
}

button {
  width: 50% !important;
  height: 20% !important;

  font-size: 32px;
}
