<app-main-layout [title]="'NEW GAME'">
    <div class="container">
        <div class="spacer"></div>

        <h1 class="a-text-primary">Pick a random seed</h1>

        <mat-action-list>
            <a mat-list-item (click)="play(seed)" *ngFor="let seed of seeds">
                <div class="seed-item"><mat-icon>chevron_right</mat-icon> {{ seed }}</div>
            </a>
        </mat-action-list>

        <div class="spacer"></div>

        <h5 class="a-text-primary">or type a custom one</h5>

        <mat-form-field appearance="outline">
            <mat-label>Random seed</mat-label>
            <input #freeField matInput placeholder="Type anything..." />
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="play(freeField.value)">PLAY</button>

        <div class="spacer"></div>
    </div>
</app-main-layout>
