@use '../../styles/mixins/mixins.scss';

.container {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: stretch;
    justify-content: center;

    app-game-board {
        flex-grow: 1;
    }
}

.game-over-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

    & > div {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;

        padding: mixins.size(2);
        gap: mixins.size(1);
        text-align: center;

        .main-text {
            font-size: 64px;
            font-weight: bold;
        }

        .next {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: mixins.size(2);
        }

        &.won {
            background-color: var(--bg-ok);
            color: var(--text-on-ok) !important;
        }

        &.lost {
            background-color: var(--bg-warn);
            color: var(--text-on-warn) !important;
        }
    }
}

.hidden {
    display: none !important;
}
