<div class="input">
    <div>
        <button
            mat-icon-button
            (keydown.enter)="$event.preventDefault()"
            class="cancel"
            [disabled]="!canClear || disabled"
            (click)="clear()"
        >
            <mat-icon> clear</mat-icon>
        </button>
    </div>

    <div *ngFor="let letter of currentWord; let index = index" class="letter-cell">
        <button
            mat-icon-button
            (keydown.enter)="$event.preventDefault()"
            [disabled]="disabled"
            (click)="removeLetter(index)"
        >
            {{ letter }}
        </button>
    </div>

    <div>
        <button
            mat-icon-button
            (keydown.enter)="$event.preventDefault()"
            class="confirm"
            [disabled]="!canTrigger || disabled"
            (click)="triggerAttempt()"
        >
            <mat-icon> check</mat-icon>
        </button>
    </div>
</div>

<div class="choices">
    <div class="left-side">
        <button mat-icon-button (keydown.enter)="$event.preventDefault()" (click)="shuffleLetters()">
            <mat-icon>shuffle</mat-icon>
        </button>
    </div>
    <div class="middle">
        <mat-grid-list [cols]="cols" rowHeight="48px" [ngStyle]="{ 'width.px': 48 * cols }">
            <mat-grid-tile
                *ngFor="let letter of letters; let index = index"
                class="letter-cell"
                [class.used]="used[index]"
            >
                <button
                    mat-icon-button
                    (keydown.enter)="$event.preventDefault()"
                    [disabled]="disabled"
                    (click)="addLetter(letter)"
                >
                    {{ letter }}
                </button>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <div class="right-side">
        <button mat-icon-button (keydown.enter)="$event.preventDefault()" (click)="askHint()">
            <mat-icon>support</mat-icon>
        </button>
    </div>
</div>
