<app-main-layout [title]="title">
    <div class="container">
        <div class="spacer"></div>

        <h1 class="a-text-primary">Nouveau Monde</h1>
        <h3 class="a-text-primary">Sélectionner un nom</h3>

        <mat-action-list>
            <a mat-list-item (click)="play(seed)" *ngFor="let seed of seeds">
                <div class="seed-item"><mat-icon>chevron_right</mat-icon> {{ seed }}</div>
            </a>
        </mat-action-list>

        <div class="spacer"></div>

        <h5 class="a-text-primary">ou taper un nom personnalisé</h5>

        <form (submit)="play(freeField.value)">
            <mat-form-field appearance="outline">
                <mat-label>Nom personnalisé</mat-label>
                <input #freeField matInput placeholder="Entrer un nom..." />
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit">JOUER</button>
        </form>

        <div class="spacer"></div>
    </div>
</app-main-layout>
